$lightGrey: #f3f3f3
$borderColour: #dee2e6

$bodyColor: #f3f3f3
$contentColor: #fff
$textColor: #f7f7f7
$intelBlue: #0c0032

$navColour: #e85d04
$navColour: #0071c5
$primaryButtonColour: #e85d04
$primaryButtonColour: #0071c5
$initialColour: #faa307
$fontStack: 'Open Sans', 'Arial', sans-serif

*
  font-family: $fontStack

body
  background: $bodyColor

#contentWrapper
  margin-top: 20px

.btn-primary
  border: none

.btn-primary
  background: $primaryButtonColour !important

h1, h2, h3, h4, h5, h6
  font-weight: 300

a
  color: $primaryButtonColour

  &:hover
    color: $primaryButtonColour

.navbar
  background: $navColour !important

.question, .user, .notification, .panel
  border-radius: 5px
  margin-bottom: 1em
  background: $contentColor
  padding: 1em 1em .5em 1em
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3)

.timestamp
  color: #6c757d
  margin-left: .5em

.initials
  margin-right: .25em
  margin-top: .25em
  padding: .25em
  color: #ffffff
  font-weight: bold
  text-transform: uppercase
  background: $initialColour

.panel
  h1, h2, h3, h4, h5, h6
    border-bottom: 1px solid #eee
    font-size: 1rem
    margin-bottom: .5em
    padding-bottom: .25em
    font-weight: 300

  li
    border: 0
    padding: .5em 0


.question
  padding-top: 1.5em
  padding-left: 1.5em

  .label
    padding-top: .5em

  &--answer
    margin-left: 2.5em
    margin-top: 1.5em

.profile-photo
  width: 100%
  max-width: 100px
  margin-right: .5em

.profile-link
  margin-right: 1em
  font-size: .9em