$lightGrey: #f3f3f3
$borderColour: #dee2e6

body
    background: $lightGrey

#contentWrapper
    margin-top: 20px

.question, .user, .notification
    border: 1px solid $borderColour
    border-radius: 8px
    margin-bottom: 1em
    background: #ffffff
    padding: 1em 2em
